/*styles go here*/
p {
  color: #666666;
font-family: 'Noticia Text', serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
}
body {
background-color: #ebe3c3;
}
#container {
  text-align: center;
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

}



#joke {
font-family: 'Noticia Text', serif;
font-size: 150%;
}

#nav {
padding: 0;
list-style-type: none;
}
#nav {
	list-style: none;
	margin: 0;
	background: green;
    padding: 0;
    display: flex;
	flex-flow: column;
}

#nav a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
        font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover {
  background: black;
}

#nav li:last-of-type a{
  border-bottom: none;
}


#img
{border: none;
  width: 40%;
  margin-right: 10px;
  float:right;
  object-fit: contain;
  }


footer
{
  text-align: center;
text-decoration-color: black;
font-family: 'Sanchez', serif;
  font-weight: bold;
background-color: #006200;
flex: 1 100%;
padding: 10px;
}

@media (min-width:800px) {

  #nav {
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    #container

  { flex-wrap: wrap;
    justify-content: space-between;
  }

    #nav a {
        border: none;
    }

    #nav a:hover {
    	background: black;
    }

    #img {
        width: 45%;
        margin-right: 10px;
    }
footer { flex: 0 0 12em;
    order: 4;
}
