/*styles go here*/
p {
  color: #666666;
font-family: 'Noticia Text', serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
}
body {
background-color: #ebe3c3;
}
#container {
  text-align: center;
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

#joke {
font-family: 'Noticia Text', serif;
}

#nav {
padding: 0;
list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
}
#nav a:link, #nav a:visited {
  text-decoration: underline;
  font-family: 'Noticia Text', serif;
  color: green;
  font-weight: bold;
  background-color: tan;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 4px;
}
#nav a:hover, #nav a:active {
  background-color: #7a991a;
}

img
{border: none;
  width: 40%;
}

#footer
{
  text-align: center;
text-decoration-color: black;
font-family: 'Sanchez', serif;
  font-weight: bold;
background-color: #006200;
}
