/*styles go here*/
p {
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
}
h1{
  font-family: Georgia, "Times New Roman", serif;
}
body {
background-color: #ebe3c3;
}
#container {
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

#nav {
padding: 0;
list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
}
#nav a:link, #nav a:visited {
  text-decoration: none;
  color: green;
  font-weight: bold;
  background-color: tan;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 4px;
}
#nav a:hover, #nav a:active {
  background-color: #7a991a;
}
img
{border: none;
}
.caption {
color:black;
font-family: Georgia, "Times New Roman", serif;
margin-top: 0;
font-style: italic;
text-align: right; 
font-size: 0.9em;

}
